@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* -_-_-_-_-_-_-_-_-_-_ containers _-_-_-_-_-_-_-_-_-_- */

.container-fluid{
    padding: 0 !important;
    margin: 0;
    margin-bottom: 10px;
}
.containerShadeGrey{
    background-color: #E8E8E8;
}
.containerLightGrey{
    background-color: lightgrey;
}
.hide {
    display: none;
}
.show {
    display: inline;
}
.errorHighlight {
    border: 1px solid red;
}
.btn-primary{
    cursor: pointer;
}
/* -_-_-_-_-_-_-_-_-_-_ Headings _-_-_-_-_-_-_-_-_-_- */
h1{
    text-transform: uppercase;
}
.jumbotron h1{
    font-size: 30px;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 10%;
}
.jumbotron p{
    font-size: 10px;
    color: white;
    position: relative;
   text-align: center;
}
@media(min-width: 992px){
    .jumbotron h1{
        font-size: 50px;
    }
    .jumbotron p{
        font-size: 15px;
    }
}
.jumbotron{
    background: url(../images/jumbotron.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    min-width: 100%;
}
@media(min-width: 992px){
    .jumbotron{
        height: 600px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Nav Links _-_-_-_-_-_-_-_-_-_- */
.links{
    background-color: Black;
    font-size: 16px;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%
}
.links a{
    color: white;
}

.links a:hover{
    color: grey;
}
.mainnav{
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0;
}
.navlink{
    text-align: center;
    font-size: 10px;
    margin: 0 !important;
    vertical-align: middle;
}
.navlink i{
    padding-right: 2px;
    
}
@media(min-width: 992px){
    .navlink{
        font-size: 25px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Covid-19 Section _-_-_-_-_-_-_-_-_-_- */
#hideCovid{
    opacity: 0.9;
    position: fixed;
    top: 35px;
    z-index: 2;
    width: 80%;
    margin-left: 10%;
}
.covidAlert{
    background-color:#E8E8E8;
    max-width: 100%;
    padding-left: 2%;
}
.covidAlert h6{
    padding-left: 3%;
}
.covidAlert h5{
    text-align: center;
    color: blue;
}
.covidAlert h5:hover{
    color: lightblue;
    text-decoration: underline;
}
/* -_-_-_-_-_-_-_-_-_-_ Intro Section _-_-_-_-_-_-_-_-_-_- */
.irelandVideo{
    background-size: cover;
    width: 100%;
    height: 360px;
}
@media(min-width: 992px){
    .irelandVideo{
        background-size: cover;
        height: 600px;
    }
}
.introPic{
    background: url(../images/newgrange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    width: 100%;
    padding-top: 20px;
}
.introPic p{
    color: white;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;

}
@media(min-width: 992px){
    .introPic{
        height: 600px;
    }
    .introPic p{
        font-size: large;
    }
}

/* -_-_-_-_-_-_-_-_-_-_ Destination Section _-_-_-_-_-_-_-_-_-_- */
.destinationContainer{
    background: url(../images/kayaking_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    min-width: 100%;
}
@media(min-width: 992px){
    .destinationContainer{
        height: 600px;
    }
}
.destinationcol {
    padding-top: 10%;
    color: white;
}
.destinationcol h3{
    text-align: center;
}
.destinationcol p{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
@media(min-width: 992px){
    .destinationHeading{
        background-color: #E8E8E8;
        color: blue;
        text-align: center;
        visibility: visible;
        display: block;
    }
}

.linkText{
    font-weight: 600;
}
.fa-angle-double-down{
    color: green;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30x;
}
.fa-angle-double-up{
    color: red;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 30x;
}
/* -_-_-_-_-_-_-_-_-_-_ Map Section _-_-_-_-_-_-_-_-_-_- */
.mapRow, .mapOptionsCentre{
    max-width: 100%;
}

.mapInitalView{
    padding-bottom: 15px;
}
@media(min-width: 992px){
    .mapInitalView{
        min-height: 60px;
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.mapSelectionError{
    color: red;
}
#accInsert, #countyInsert{
    font: bold;
}
#map {
    min-height: 600px;
}
.dropDown{
   background-color: lightblue;
}
.dropDown_col {
    border: solid 1px black;
    padding-top: 2px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #E8E8E8;
}
.errorDropdown_col {
    border: 2px solid red;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #E8E8E8;
}
.button_col{
    text-align: center;
    padding-top: 5px;
}
#moreInfo{
    width: 100%;
    font-size: 15px;
    padding: 0px;
    margin-top: 3px;
    
}
.btn-map{
    min-width: 20%;
    margin-bottom: 5px;
}
/* -_-_-_-_-_-_-_-_-_-_ More Info Section _-_-_-_-_-_-_-_-_-_- */
#moreInfoHeader{
    color: white;
    text-align: center;
    border: solid 1px black;
    background-color: grey;
    padding-bottom: 5px;
}
.moreInfoCol{
    border: 1px solid black;
    border: 1px solid black;
}
.firstRow{
    background-color: #d9d9d9;
    border: 1px solid black;
    margin-bottom: 2px;
}
.secondRow{
    background-color: #E8E8E8;
    border: 1px solid black;
    margin-bottom: 2px;
}
.centreBorder{
    border-right: 1px solid black;
}
.moreinfoLeft{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
}
.moreinfoRight{
    padding-bottom: 10px;
    padding-top: 10px;
}
.moreinfoRight h5, .moreinfoLeft h5 {
    padding-left: 10px;
    font-weight: 600;

}
.moreinfoRight p, .moreinfoLeft p {
    padding-left: 15px;
    padding-right: 15px;
}
.bottomRow{
    border-bottom: 1px solid black;
}
.moreInfoPlaceHolder{
    border: 1px solid black;
    background-color: #E8E8E8;
}
/* -_-_-_-_-_-_-_-_-_-_ More Info Section Mobile _-_-_-_-_-_-_-_-_-_- */
.popupBox{
    z-index: 1;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    background-color: lightgrey;
    width: 70%;
}
/* -_-_-_-_-_-_-_-_-_-_ Inquiry Form _-_-_-_-_-_-_-_-_-_- */
.formContainer{
    padding-top: 20px;
    padding-bottom: 20px;
}

@media(min-width: 992px){
    .formrow {
        margin-left: 20%;
        margin-right: 20%;
    }
}
.inquirytext {
    background-color: white;
    padding-bottom: 10px;
    border: 1px solid grey;
}
.inquirytext p {
    text-align: center;
    font-size: 12px;
}
.inquirytext span {
    font-weight: bold;
    color: navy;
}
.formCollapse{
    background-color: grey;
    width: 100%;
}
@media(min-width: 992px){
    .formCollapse {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }
    .formCollapse h5 {
        font-size: 30px;
    }
    .inquirytext p {
    font-size: 18px;
}
}
.formCollapse:hover {
    background-color:black;
    color: white;
}
.btn-form{
  background-color: blue;
  min-width: 100%;
}
.down_arrow{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30x;
}
.form-control{
    border: 1px solid grey;
}

/* -_-_-_-_-_-_-_-_-_-_ Footer _-_-_-_-_-_-_-_-_-_- */
.footer{
    background-color: black;
    margin: 0 !important;
    overflow: hidden;
}
.footerRow{
    max-height: 20px;
}
.footericons{
    font-size: 15px;
    color: white;
    margin-right: 3px;
}
.footericons:hover{
    color: grey;
}
.left-footer-col{
    color: white;
    text-align: center;
    padding-top: 5px;
    margin: 0 !important;
}
.right-footer-col{
    color: white;
    font-size: 10px;
    padding-top: 2px;
}
.copyright{
    font-size: 7px;
}  
@media(min-width: 992px){
    .footericons{
        font-size: 30px;
        color: white;
        padding-right: 50px;
    }
    .footerRow{
    max-height: 50px;
}
    .copyright{
        font-size: 12px;
        padding-top: 10px;
    }   
    .right-footer-col{
        font-size: 12px;
        padding-top: 10px;
    }
}