@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* -_-_-_-_-_-_-_-_-_-_ containers _-_-_-_-_-_-_-_-_-_- */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.container-fluid{
    padding: 0 !important;
    margin: 0;
}
.hide {
    display: none;
}
.show {
    display: inline;
}
.errorHighlight {
    border: 1px solid red;
}
.btn-primary{
    cursor: pointer;
}
/* -_-_-_-_-_-_-_-_-_-_ Headings _-_-_-_-_-_-_-_-_-_- */
h1{
    text-transform: uppercase;
}
.jumbotron h1{
    font-size: 30px;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 10%;
}
.jumbotron p{
    font-size: 10px;
    color: white;
    position: relative;
    text-align: center;
    font-weight: 700;
}
.jumbotron{
    background: url(../images/jumbotron.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    min-width: 100%;
    margin-bottom: 5px;
}
@media(min-width: 992px){
    .jumbotron{
        height: 600px;
    }
    .jumbotron h1{
        font-size: 50px;
    }
    .jumbotron p{
        font-size: 15px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Nav Links _-_-_-_-_-_-_-_-_-_- */
.links{
    background-color: Black;
    font-size: 16px;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    z-index: 2;
    min-width: 100%;
}
.links a{
    color: white;
}

.links a:hover{
    color: grey;
}
.mainnav{
    max-height: 20px;
    font-size: 0;
}
.navlink{
    text-align: center;
    font-size: 10px;
    margin: 0 !important;
    vertical-align: middle;
}
.navlink i{
    padding-right: 2px; 
}
@media(min-width: 992px){
    .navlink{
        font-size: 25px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Covid-19 Section _-_-_-_-_-_-_-_-_-_- */
#hideCovid{
    opacity: 0.9;
    position: fixed;
    top: 35px;
    z-index: 2;
    max-width: 80%;
    margin-left: 10%;
}
.covidAlert{
    background-color:#E8E8E8;
    max-width: 100%;
    padding-left: 2%;
    text-align: center;
}
.covidAlert p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.covidAlert h5{
    color: blue;
}
.covidAlert h5:hover{
    color: lightblue;
    text-decoration: underline;
}
@media(min-width: 992px){
    #hideCovid{
    max-width: 80%;
    margin-left: 10%;
}
    .covidAlert p{
        text-align: center;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Intro Section _-_-_-_-_-_-_-_-_-_- */
.irelandVideo{
    background-size: cover;
    width: 100%;
    height: 360px;
}
.intro_text {
    margin: auto;
}
.intro_text p {
    padding-top: 10px;
    text-align: justify;
}

@media(min-width: 992px){
    .irelandVideo{
        background-size: cover;
        height: 600px;
    }
    .intro_row {
        margin-left: 2%;
        margin-right: 2%;
    }
}

/* -_-_-_-_-_-_-_-_-_-_ Destination Section _-_-_-_-_-_-_-_-_-_- */
.destinationcol h3{
    text-align: center;
}
.destinationcol p{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
.linkText{
    font-weight: 600;
}
.fa-angle-double-down{
    color: green;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.fa-angle-double-up{
    color: red;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 30px;
}
@media(min-width: 992px){
    .destinationContainer{
        height: 600px;
    }
    .destinationHeading{
        background-color: #E8E8E8;
        color: blue;
        text-align: center;
        visibility: visible;
        display: block;
    }
    .destinationRow{
    background-color: lightgray;
    margin-right: 2%;
    margin-left: 2%;
}
}
/* -_-_-_-_-_-_-_-_-_-_ Map Section _-_-_-_-_-_-_-_-_-_- */
.button_row {
    background-color: lightgray;
}

.mapSelectionError{
    color: red;
}
.mapRow {
        padding-bottom: 2%;
    }
@media(min-width: 992px){
    .button_row {
        margin-left: 2%;
        margin-right: 2%;
    }
    .mapRow {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.dropDown_col {
    padding-top: 2px;
    padding-bottom: 5px;
    text-align: center;
}
.errorDropdown_col {
    border: 2px solid red;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #E8E8E8;
}
.button_col{
    text-align: center;
    padding-top: 5px;
}
.btn-map{
    min-width: 20%;
    margin-bottom: 5px;
}
.mapInitalView{
    min-height: 600px;
}
@media(min-width: 992px){
    .map-intro p{
        text-align: center;
    }
    .mapInitalView{
        min-height: 800px;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Map Pop-up Box _-_-_-_-_-_-_-_-_-_- */
.popup_link_icon {
    padding-left: 5px;
}
.popup_icon_gen {
    padding-right: 5px;
    color: green;
}

/* -_-_-_-_-_-_-_-_-_-_ Inquiry Form _-_-_-_-_-_-_-_-_-_- */
.formContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgrey;
}
.inquirytext {
    background-color: white;
    padding-bottom: 10px;
    border: 1px solid grey;
}
.inquirytext p {
    text-align: center;
    font-size: 12px;
}
.inquirytext span {
    font-weight: bold;
    color: navy;
}
.formCollapse{
    background-color: grey;
    width: 100%;
}
.formCollapse{
    font-size: 20px;
}
.formCollapse:hover {
    background-color:black;
    color: white;
}
.btn-form{
  background-color: blue;
  min-width: 100%;
}
.down_arrow{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.form-control{
    border: 1px solid grey;
}
.formNote{
    opacity: 0.9;
    position: absolute;
    z-index: 2;
    max-width: 90%;
    margin-left: 5%;
    background-color: lightgrey;
    border-radius: 25px;
}
.formNote h3{
    text-align: center;
}
.formNote h6{
    text-align: right;
    padding-right: 30px;
    color: blue;
}
.formNote p{
    text-align: center;
}
.formNote i{
    color: blue;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 18px;
}
@media(min-width: 992px){
    .formrow {
        margin-left: 20%;
        margin-right: 20%;
    }
    .formCollapse {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }
    .formCollapse {
        font-size: 30px;
    }
    .inquirytext p {
    font-size: 18px;
    }
    .down_arrow{
        font-size: 30px;
    }
    .formNote{
        width: 60%;
        margin-left: 20%;
    }
}
/* -_-_-_-_-_-_-_-_-_-_ Footer _-_-_-_-_-_-_-_-_-_- */
.footer{
    background-color: black;
    margin: 0 !important;
    overflow: hidden;
}
.footerRow{
    max-height: 20px;
}
.footericons{
    font-size: 15px;
    color: white;
    margin-right: 3px;
}
.footericons:hover{
    color: grey;
}
.left-footer-col{
    color: white;
    text-align: center;
    padding-top: 5px;
    margin: 0 !important;
}
.right-footer-col{
    color: white;
    font-size: 10px;
    padding-top: 2px;
}
.copyright{
    font-size: 7px;
}  
@media(min-width: 992px){
    .footericons{
        font-size: 30px;
        color: white;
        padding-right: 50px;
    }
    .footerRow{
    max-height: 50px;
}
    .copyright{
        font-size: 12px;
        padding-top: 10px;
    }   
    .right-footer-col{
        font-size: 12px;
        padding-top: 10px;
    }
}